apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-springboot-lqhwwfpt
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-springboot-lqhwwfpt:65e81d6c2519e680faa318048c25b4e405251e1c@sha256:5bacc5b4adf4b4cd5cd78b19dc2de6cd9dfa57f6c081738be97a2bda8383d15e
          name: container-image
